.nav {
  display: flex;
  background-color: rgba(87, 12, 12, 0.9);
  padding: 0;
  color: white;
  font-weight: bold;
}

.list {
  list-style: none;
  padding: 0.5rem;
  display: flex;
}

.list > * + * {
  margin-left: 1rem;
}

.navAnchor {
  text-decoration: underline 2px;
}

.navAnchor:hover,
.navAnchor:focus {
  text-decoration: underline dotted 2px;
}